src/main/java/com/github/erikzielke/model_generator/configuration/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration" type="configurationType"/>
  <xs:complexType name="configurationType">
    <xs:sequence>
      <xs:element type="generationType" name="generation"/>
      <xs:element type="jdbcType" name="jdbc"/>
      <xs:element type="namingType" name="naming"/>
      <xs:element type="xs:string" name="excludeTable" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jdbcType">
    <xs:sequence>
      <xs:element type="xs:string" name="password"/>
      <xs:element type="xs:string" name="url"/>
      <xs:element type="xs:string" name="username"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generationType">
    <xs:sequence>
      <xs:element type="xs:string" name="destinationDir"/>
      <xs:element type="xs:string" name="destinationPackage"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="namingType">
    <xs:sequence>
      <xs:element type="xs:string" name="tablePrefix"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>